/* Hoja de estilos de reset mínima */

* {
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
}

/* Fuente general */

.main {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  border: none;
  font-size: 18px;
}
label {
  font-size: 24px;
  padding-top: 20px;
}
.form {
  display: flex;
  flex-direction: row;
}
.title {
  padding: 15px;
}
select {
  padding: 5px;
}
.hidden {
  display: none;
}
