@import "core/reset";
@import "core/variables";

:root {
  font: $font-normal; /* font-size: 10px; */
  color: $color-white;
}

@media screen and (min-width: 420px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 560px) {
  :root {
    font-size: 14px;
  }
}

.container {
  padding: 22px 22px 0 22px;
  background-color: $color-dark;
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 980px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 6fr 5fr;
    gap: 2rem;
  }
}

/* COMPONENTS */

@import "./web_components/buttons";
@import "./web_components/icons";

.title {
  text-align: center;
  text-transform: capitalize;
}

.logoSponsor {
  height: 46px;
}



