/* Hoja de estilos de reset mínima */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fuente general */

:root {
  font: 16px 'Roboto', Verdana, sans-serif;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;

  background-color: darkcyan;

  padding: 20px;
}
.header__title {
  color: white;
}
.main {
  padding: 2rem;
  min-height: 100vh;
}
.dark {
  background-color: #393939;
}
.dark :not(h1, input, select, button, textarea) {
  color: #fff;
}

.card {
  background-color: transparent;
}