@import "../core/variables";

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  &__brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 7px 5px;
    gap: 7px;
  }

  &__companyLogo {
    height: 31px;
    color: $color-white;
  }

  &__title {
    font: $font-title-brand;
    text-transform: capitalize;
    color: $color-white;
  }
}